*{margin: 0px;
padding: 0px;}
.test{
  color: blue;
  /*----hover ar cursor image add kora----*/
  cursor:pointer;
}
.container{
  padding: 20px;
  background-color: red;
  width: 100%;
  display: flex;
  /*---justify center/splace between/space around---align tag-*/
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.box_1{background-color: blue;
  width: 30%; 
  height: 100%;
}
.box_2{
  background-color: green;
  width: 30%;
  height: 100%;
}
.box_3{width: 30%;
  height: 100%;
  background-color: yellow;
}